<section class="container">
  <h2>Aggiungi Spesa</h2>
  <form [formGroup]="formSpesa"
        (ngSubmit)="onSubmit($event)"
         class="d-flex flex-column justify-content-between gap-2 p-2 m-2 align-items-center w-75" >
    <div class="input-group">
        <label for="importo" class="form-label m-2">
          Importo:
        </label>
        <input formControlName="importo"
         class="form-control m-2" type="number" step="0.01" id="importo" placeholder="Inserisci l'importo">

         @if (formSpesa.controls.importo.invalid && formSpesa.controls.importo.touched) {
            <div class="invalid-feedback d-block">
              @if (formSpesa.controls.importo.errors?.['required']) {
                <span>L'importo è obbligatorio.</span>
          }

              @if (formSpesa.controls.importo.errors?.['min']) {
                <span>L'importo deve essere maggiore di zero.</span>
              }
            </div>
}
    </div>
    <div class="input-group">
        <label class="form-label m-2" for="categoria">
          Categoria:
        </label>
        <select formControlName="categoria" class="form-select m-2" name="categoria" id="categoria">
          <option value="">Scegli Categoria</option>
          <option value="Alimentari">Alimentari</option>
          <option value="Auto">Auto</option>
          <option value="Regali">Regali</option>
          <option value="Rate">Rate</option>
          <option value="Prestito">Prestito</option>
        </select>
        <button class="btn btn-info m-2" type="button" role="button" disabled>Aggiungi Nuova Categoria</button>

        @if (formSpesa.controls.descrizione.invalid && formSpesa.controls.descrizione.touched &&
        formSpesa.controls.categoria.errors?.['required']) {
          <span class="invalid-feedback">Categoria Obbligatoria! Citrullo!</span>
        }
    </div>
    <div class="input-group">
      <label class="form-label m-2" for="descrizione">
        Descrizione:
      </label>
      <textarea formControlName="descrizione" class="form-control" name="descrizione" id="descrizione" cols="10" rows="3" placeholder="(Opzionale, Max: 30 char)"></textarea>

      @if (formSpesa.controls.descrizione.invalid && formSpesa.controls.descrizione.touched &&
      formSpesa.controls.descrizione.errors?.['maxLength']) {
        <span class="invalid-feedback">Limite caratteri superato! E che devi scrivere?? O.O</span>
      }
    </div>
    <div class="input-group">
      <label class="form-label m-2" for="data">
        Data Spesa: 
      </label>
      <input formControlName="data" class="m-2" type="date" name="data" id="data">
    </div>
    <button class="btn btn-primary m-2 p-1" type="submit">Aggiungi</button>
  </form>
</section>