@let ex = expense();

@if (isEditing()) {
  <div class="card-body">
      <label class="form-label" for="edit-title">
        Titolo
      </label>

      <input
        id="edit-title"
        class="form-control mb-2"
        type="text"
        [value]="editTitle()"
        (input)="editTitle.set($any($event.target).value)"
      />

      <label class="form-label" for="edit-descrizione">
        Descrizione
      </label>

      <textarea
        id="edit-descrizione"
        class="form-control mb-2"
        rows="3"
        [value]="editDescrizione()"
        (input)="editDescrizione.set($any($event.target).value)"
      ></textarea>

      <div class="d-flex gap-2">
        <button
          type="button"
          class="btn btn-success"
          (click)="saveEdit()">
          Salva
        </button>

        <button
          type="button"
          class="btn btn-secondary"
          (click)="cancelEdit()">
          Annulla
        </button>
      </div>
    </div>

} @else {
  <div class="card d-flex justify-content-around align-items-start" >
  <div class="card-body">
    <h4 class="card-title">{{ex.title}}</h4>
    <h5 class="card-subtitle mb-2 text-body-secondary">{{ex.importo | currency:'EUR'}}</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">{{ex.categoria | uppercase}}</h6>
    <p class="card-text">{{ex.descrizione ? ex.descrizione : 'Nessuna descrizione!'}}</p>
    
  </div>

  <div class="card-body button">
    <button 
    type="button" class="btn btn-info"
    (click)="startEdit()">Modifica
    </button>
    <button type="button" class="btn btn-danger"
    (click)="removeExpense()">Elimina
    </button>
    <button type="button" class="btn btn-primary">Dettaglio

    </button>
  </div>
</div>


}


  
